/* 站点导航中的下来按钮 */
/* .menu .dropdown */
    .menu .dropdown-toggle {
        display: block;
        height: 100%;
        padding: 0 16px 0 12px;
        border-left: 1px solid #f3f5f7;
        border-right: 1px solid #f3f5f7;
    }

    .menu .dropdown-arrow {
        margin-left: 8px;
    }

    .menu .dropdown-layer {
        top: 100%;
        background-color: #fff;
        border: 1px solid #cdd0d4;
    }

    .menu-item {
        display: block;
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        color: #4d555d;
        white-space: nowrap;
    }

    .menu-item:hover {
        background-color: #f3f5f7;
    }

    .menu-active .dropdown-toggle {
        background-color: #fff;
        border-color: #cdd0d4;
    }

    @font-face {
        font-family: "iconfont";
        src: url('../../css/font/iconfont.eot?t=1477124206'); /* IE9*/
        src: url('../../css/font/iconfont.eot?t=1477124206#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../css/font/iconfont.woff?t=1477124206') format('woff'), /* chrome, firefox */
        url('../../css/font/iconfont.ttf?t=1477124206') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('../../css/font/iconfont.svg?t=1477124206#iconfont') format('svg'); /* iOS 4.1- */
    }

    .icon {
        font-family: "iconfont" !important;
        font-size: 14px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
    }

    /* 当前选择元素[class*="-active"] */
    [class*="-active"] .dropdown-arrow {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }
